.parent-list {
  display: grid;
  grid-template-columns: 50px 1fr repeat(3, 50px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 768px) {
  .album-detail-info {
    display: grid !important;
    grid-template-rows: 1fr 1fr;
  }
}
