.header-artist > * {
  z-index: 5;
}

.artist-banner {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.4) 15%, transparent);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.4) 15%, transparent);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 15%, transparent);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#fdbb2d", GradientType=1);
  }
}
