@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  @apply font-sans bg-[#000] text-white;
}

.app {
  padding: 10px;
  display: grid;
  grid-template-columns: 21% .6rem 1fr;

  height: 100vh;

  @media screen and (max-width: 640px) {
    & {
      grid-template-columns: 50px .6rem 1fr;
    }

    div[data-type="gutter"] {
      pointer-events: none
    }
  }
}

@import url('./split-pane.scss');