@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  @apply font-sans bg-[#000] text-white;
}

@media screen and (min-width: 461px) {
  .a[href]:not(a.flex) {
    width: min-content !important;
  }
}

.app {
  max-width: 1400px;
  margin-inline: auto;
  $nav-width: 21%;
  $gutter-width: 0.6rem;
  overflow: hidden;

  @apply transition-all;

  padding: 10px;
  padding-bottom: 0;
  padding-right: 0;
  display: grid;
  grid-template-columns: $nav-width $gutter-width calc((100% - $nav-width) - $gutter-width);

  .main {
    background: rgb(18, 18, 18);
    background: -moz-linear-gradient(0deg, rgba(18, 18, 18, 1) 70%, rgba(33, 33, 33, 1) 100%);
    background: -webkit-linear-gradient(
      0deg,
      rgba(18, 18, 18, 1) 70%,
      rgba(33, 33, 33, 1) 100%
    );
    background: linear-gradient(0deg, rgba(18, 18, 18, 1) 70%, rgba(33, 33, 33, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#121212", endColorstr="#212121", GradientType=1);
    overflow-y: auto;
    height: calc(100vh - 1rem);
    padding-right: 1rem;

    @media screen and (max-width: 460px) {
      width: 100%;
      padding-right: 0;
    }
  }

  @media screen and (max-width: 1005px) {
    & {
      $nav-width: 50px;
      grid-template-columns: $nav-width $gutter-width calc((100% - $nav-width) - $gutter-width);
    }
  }

  @media screen and (max-width: 768px) {
    & {
      $nav-width: 50px;
      grid-template-columns: $nav-width $gutter-width calc((100% - $nav-width) - $gutter-width);
    }

    div[data-type="gutter"] {
      pointer-events: none;
    }
  }

  @media screen and (max-width: 460px) {
    & {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      padding: 0;
      border-radius: 0;
    }
  }
}

main::-webkit-scrollbar {
  width: 0.6rem;
  background-color: transparent;
}

main::-webkit-scrollbar-thumb {
  @apply bg-neutral-800 rounded-lg;
}

main::-webkit-scrollbar-track {
  background-color: transparent;
  padding: 0;
}

@import url("./split-pane.scss");

.debug {
  outline: 1px solid red;
}
