@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  @apply font-sans bg-[#000] text-white;
}

.app {
  padding: 10px;
  display: grid;
  grid-template-columns: 21% .6rem 1fr;

  height: 100vh;
}

@import url('./split-pane.scss');