.playlist-title {
  font-size: clamp(2.4rem, -10rem + 32vw, 3rem);
  font-weight: bold;
  text-overflow: clip;

  @media screen and (min-width: 1200px) {
    font-size: 4rem;
  }
}

.song-row:not(.song-row:has(.heart-solid)):hover .heart-btn {
  display: block;
}

.song-row:hover {
  .play-btn {
    display: inline;
  }

  .number {
    display: none;
  }
}
