.btn-filter-active {
  @apply bg-white text-black border-neutral-950;

  &:hover {
    background-color: #eeeeee !important;
  }
}

.recomendation-list {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  gap: 1rem;
}

.dropdown::-webkit-scrollbar {
  width: 0.6rem;
  background-color: transparent;
}

.dropdown::-webkit-scrollbar-thumb {
  @apply bg-neutral-800 rounded-lg;
}

.dropdown::-webkit-scrollbar-track {
  background-color: transparent;
  padding: 0;
}
