.topartist-container {
  @apply mt-4;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1rem;
}

.mobile-profile {
  @media screen and (max-width: 470px) {
    picture {
      width: 76px;
    }

    &:last-child {
      font-size: 0.9rem;
    }
  }
}
