.sub-title {
  @apply text-2xl font-bold;
}

.badge-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

// limited by 895px