@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./fonts.css");

:root {
  font-family: 'Figtree', sans-serif;
}

body {
  background-color: black;
  color: white;
  color-scheme: dark;
}